<button
  [type]="type"
  [disabled]="disabled"
  [class]="buttonClasses.join(' ')"
  (click)="handleClick($event)">

  <!-- Left Icon Container (Figma: left-icon) -->
  <span *ngIf="iconStart" class="bio-button__icon-container bio-button__icon-container--start">
    <bio-icon-font
      [iconName]="iconStartName"
      size="16"
      type="rounded"
      color="inherit"
      class="bio-button__icon"
      aria-hidden="true">
    </bio-icon-font>
  </span>

  <!-- Button Label (Figma: button-label) -->
  <span class="bio-button__label">
    {{ label }}
  </span>

  <!-- Right Icon Container (Figma: right-icon) -->
  <span *ngIf="iconEnd" class="bio-button__icon-container bio-button__icon-container--end">
    <bio-icon-font
      [iconName]="iconEndName"
      size="16"
      type="rounded"
      color="inherit"
      class="bio-button__icon"
      aria-hidden="true">
    </bio-icon-font>
  </span>
</button>
